/*--- RESET--- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b2a6f;
    font-family: "FiraGO", sans-serif;
}
@font-face {
    font-family: "FiraGO";
    src: url("assets/fonts/FiraGO-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FiraGO";
    src: url("assets/fonts/FiraGO-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*--- UTILITIES--- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ---CONTAINER ---*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---HEADER--- */
.header {
    padding-top: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width: 329px;
    height: 85px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
}

.divider {
    width: 1px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.header-text {
    color: white;
    font-size: 14px;
    line-height: 1.4;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.socials {
    display: flex;
    width: 163px;
    height: 40px;
    gap: 10px;
    padding: 8px 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.lang {
    color: white;
    font-size: 14px;
    width: 86px;
    height: 25px;
    display: flex;
    gap: 2px;
}

.lang .active {
    color: #4fc3ff;
}

/*--- NAVIGATION ---*/
.nav {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 996px;
    height: 57px;
    padding: 10px 60px;
    border-radius: 16px;
    background: rgba(11, 44, 139, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow:
        inset 0 4px 12px rgba(21, 101, 255, 0.5),
        0 7px 14px rgba(0, 125, 195, 0.15);
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: 400;
}
/*შეადარე ფიგმას
.nav a.active {
    background: #2f6bff;
}

.nav a:hover {
    background: rgba(255, 255, 255, 0.2);
}*/

.main-title {
    max-width: 656px;
    width: 90%;
    margin: 40px auto 0;
    font-family: "FiraGO", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
}

/*--- CARDS ---*/
.cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background: #f5f7fb;
    border-radius: 16px;
    padding: 20px;
    border: 7px solid transparent;
    background-image:
        linear-gradient(#f5f7fb, #f5f7fb),
        linear-gradient(180deg, #93aee4 0%, #e6eeff 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/*left card*/
.card-left {
    width: 630px;
    height: 309px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-right {
    position: relative;
    width: 517px;
    height: 311px;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
}

.card-right::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 20px;
    width: 260px;
    height: 1px;
    background: #e3ebf5;
}

.search {
    width: 496px;
    height: 61px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 1px 12px rgba(64, 113, 255, 0.3);
    margin-bottom: 20px;
}

.search input {
    border: none;
    outline: none;
    margin-left: 12px;
    width: 100%;
    font-size: 14px;
    color: #0b2a6f;
}

.search img {
    width: 28px;
    height: 28px;
}

.icon {
    position: relative;
    padding-right: 15px;
}

.icon::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60px;
    background: #e3ebf5;
}

.search input::placeholder {
    color: #02103a;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 507px;
}

.tags-list {
    display: flex;
    gap: 10px;
}

.tags-label {
    color: #333;
    font-size: 14px;
}

.tag {
    padding: 6px 12px;
    border-radius: 20px;
    background: #cfeeff;
    font-size: 12px;
}

.divider-line {
    width: 260px;
    height: 1px;
    background: #e3ebf5;
    margin: 20px auto;
}

.icons {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icons img,
.icons button img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    transition: 0.2s;
}

/*შეადარე ფიგმას.icons img:hover {
    opacity: 1;
    transform: scale(1.1);
}*/

/* RIGHT CARD */
.card-title {
    width: 178px;
    display: flex;
    align-items: center;
    gap: 27px;
    font-family: "FiraGO", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #223c6e;
}

.slashes {
    display: flex;
    gap: 4px;
    align-items: center;
    transform: translateY(2px);
}

.slashes::before,
.slashes::after {
    content: "";
    width: 7px;
    height: 31px;
    background: #00b8e1;
    transform: rotate(29deg);
    display: block;
}

.highlight {
    width: 325px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 184, 225, 0.2);
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-text {
    width: 436px;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.bottom-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
}

.more {
    font-family: "FiraGO", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #232323;
    margin: 0;
}

.btn {
    width: 145px;
    height: 35px;
    border: none;
    border-radius: 16px;
    background: rgba(64, 120, 190, 0.15);
    box-shadow: 0 2px 9px rgba(35, 60, 110, 0.1);
    font-family: "FiraGO", sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.handwritten-text {
    font-family: "DM Giorgi Khorghuashvili", cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(90deg, #07aee6, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px auto;
    max-width: 643px;
}

.frame267 {
    max-width: 996px;
    width: 100%;

    margin: 0 auto; /* 🔥 ცენტრში დასმა */

    display: flex;
    flex-direction: column; /* 🔥 ზემოთ ტექსტი, ქვემოთ ბლოკები */
    align-items: center;
    gap: 25px;
}
.blue-section {
    position: relative;

    overflow: hidden;

    padding-top: 40px;
    padding-bottom: 80px;

    background-image: url("assets/pictures/gradient1.png");

    background-size: cover;

    background-position: center top;

    background-repeat: no-repeat;
}
.blue-section::before {
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 380px; /* ადრე დიდი იყო */

    background-image: url("assets/pictures/gradient2.png");

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    pointer-events: none;
}
.handwritten-text,
.frame267 {
    position: relative;
    z-index: 2;
}
.subscribe-btn {
    position: absolute;

    top: 428px;
    right: 0;

    width: 120px;
    height: 40px;

    border: none;

    border-radius: 16px 0 0 16px;

    background: red;

    color: #ffffff;

    font-family: "FiraGO", sans-serif;
    font-weight: 500;
    font-size: 16px;

    cursor: pointer;

    z-index: 999;
}
.question-title {
    font-size: 16px;
    color: white;
    position: relative;
    text-align: center;
}

.question-title::before,
.question-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 150px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.question-title::before {
    right: 100%;
    margin-right: 20px;
}

.question-title::after {
    left: 100%;
    margin-left: 20px;
}

.options {
    display: flex;
    gap: 114px;
}

.option {
    width: 256px;
    height: 95px;

    border-radius: 16px;
    background: rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    background: rgba(255, 255, 255, 0.35);
}
